{{mustache}}
<div class="well sidebar-nav">
  <ul class="nav nav-list">
  {{#nav}}
    <li class="nav-header">{{title}}</li>
    {{#links}}
    <li><a href="{{href}}" target="_new">{{title}}</a></li>
    {{/links}}
  {{/nav}}
  </ul>
</div><!--/.well -->